*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    font-family: "lato", sans-serif;
    color:white;
}

.logo{
    color:black;
}

a{
    color:blue;
    text-decoration: none;
}
h1{
    font-size:30px;
    font-weight:600;
    margin:10px 0;
    line-height:1.2;
}

h2{
    font-size:25px;
    font-weight:300;
    margin:10px 0;
    line-height:1.2;
}

p{
    font-size:30px;
}

img{
    width:100%;
}

li{
    list-style-type: none;
}

p{
    font-size:20px;
    margin:10px 0;
}
.nav{
    /* border:2px solid black; */
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
}
.navbar{
    background-color:aquamarine;
    height:80px;
    padding: 0 30px;
}
.navbar h1{
    font-size:30px;
    font-weight:300;
    margin:10px 0;
    line-height:1.2;
}

.navbar .flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100%;
}

.navbar ul{
    display:flex;
}
.navbar a{
    color:white;
    font-weight:bold;
    padding:10px;
    margin:10px;
}

.navbar a:hover{
    color:tomato;
}

.showcase{
    height:300px;
    background-color: aquamarine;
    color:#7a11db;
}

.showcase p{
    margin-bottom:30px;
}

.showcase img{
    box-shadow:7px 7px 7px rgba(0,0,0,0.2);
}

.showcase-form{
    padding-left:7px;
}

.grid{
    overflow: visible;
    display:grid;
    grid-template-columns: 60% 40%;
}

.grid-item1, .grid-item2{
    position:relative;
    top:50px;
    margin:20px;
}

.showcase #email{
    padding:10px 70px 10px 0;
    font-size:14px;
    border:none;
    /* color:blue; */
    border-radius:6px;
    padding-left:6px;
    box-shadow:7px 7px 7px rgba(0,0,0,0.2);
}

.btn{
    border-radius:6px;
    padding:10px 20px;
    background:#7a11db;
    color:white;
    margin-left:10px;
    font-size:16px;
    cursor:pointer;
    box-shadow:7px 7px 7px rgba(0,0,0,0.2);
}
.showcase-form {
    margin: auto;
}

.title{
    color:black;
    font-size:20px;
    text-align:left;
    padding-left:10px;
    padding-top:10px;
}

.text{
    color:black;
    font-size:16px;
    width:100%;
    padding:10px;
    margin:0, 20px;
    text-align:justify;
}

.flex{
    display:flex;
    justify-content: space-around;
}
.stats{
    padding:25px 30px;
}

.stat{
    margin:0 30px;
}

.stats .fa{
    color:aquamarine;
}

.testimonials{
    color:black;
}

.testimonial img{
    clip-path:circle();
    height:100%;
}

.testimonial h3{
    text-align: center;
}

.grid3{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:40px;
}


.card{
    padding:10px;
    background-color: white;
    border-radius:10px;
    box-shadow:-7px -7px 20px rgba(0, 0, 0, 0.2), 
    -7px -7px 20px rgba(0, 0, 0, 0.2)
}

.circle{
    position:relative;
    top:-30px;
    height:90px;
    border-radius:50%;
}

.testimonials-heading{
    color:black;
    margin:20px 50px;
    text-decoration: underline;
}

